html {
  scroll-behavior: smooth;
  
}

body {
  background-color: #C6d8d3;
  color: #143B52;
  font-family: 'Playfair Display', serif;
  font-weight: 300;
}

#themeToggle {
 border: none;
}

.navbar {
 background-color: #C6d8d3;
}

.nav-link {
 color: #143B52;
}

.navbar-brand {
 color: #143B52;
}

.hero {
  min-height: 100vh;              /* full screen height */
  display: flex;
  justify-content: center;        /* horizontal center */
  align-items: center;            /* vertical center */
  text-align: center;
}

.hero h1 {
  font-size: 4rem;                /* big */
  font-weight: 700;               /* bold */
  line-height: 1.2;
}

/*.hero .line2 {
    display: inline-block;
    margin-left: 13rem;
    margin-top: 1.5rem;
}
*/

.split-section {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

/* Left text column */
.about-me {
  list-style: none;
  padding: 0;
}

.about-me li {
  margin-bottom: 1.5rem;
  font-size: 1rem;
  font-weight: 300;
  text-decoration: none;
  color: inherit;
}

.about-me #work_style{
   margin-left: 3rem;
}
/*.about-me a {
  font-size: 2rem;
  font-weight: 500;
  text-decoration: none;
  color: inherit;
}*/

.about-me a {
  font-size: 2rem;
  font-weight: 500;
  text-decoration: none;
  color: inherit;
}


/* Right image */
.about-image {
  max-width: 80%;
  height: auto;
  border-radius: 12px;
}

.connect {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 600;
}

.connect a {
  font-size: 1.8rem;
  color: inherit;
}

.connect a:hover {
  opacity: 0.7;
}

.work-card {
  border: none;
  background: transparent;
  padding: 0;
  width: 100%;
  cursor: pointer;
}

.work-card img {
  transition: transform 0.15s ease, opacity 0.15s ease;
}

.work-card:hover img {
  transform: scale(1.02);
  opacity: 0.9;
}

.img-fluid {
  max-height: 300px;      /* adjust: 250–350px works well */
  width: auto;
  display: block;
  margin: 0 auto;         /* center horizontally */
  object-fit: contain;
}

.custom-modal {
  background-color: #C6d8d3;
  color: #143B52;
  border-radius: 12px;
}
